// @import "@/sass/app.scss";

#allathletes {
    .cont-list{
        display: block;
        margin: auto;
        width: 60%;
    }
    a{
        text-decoration: none;
        color: #3d4852;
        transition: 0.5s;
    }
    a:hover{
        text-decoration: none;
        color:#FF4B2B
    }
    h2{
        text-align: center;
    }
    .list-data{
        width: 80%;
    }
    .list-data li{
        display: flex;
        width: 100%;
        padding: 1vh 0 1vh 0;
    }
    .list-data li button{
        background-color: transparent;
        border: 1px solid red;
        padding: 1%;
        font-size: 1vw;
        color: red;
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.25rem;
    }
    .list-data li button:hover{
        background-color: red;
        color: #FFFFFF;
    }

    .pagination-btn{
        background-color: #FF4B2B;
        padding: 1% 2% 1% 2%;
        font-size: 0.8vw;
        border: none;
        color: #FFFFFF;
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.25rem;
    }
    .pagination{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-top: 3vh;
    }
    .btn-edit{
        border: 1px solid dodgerblue;
    }
    .cont-list-name{
        width: 70%;
    }
    .cont-list-btn{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    .cont-list-btn button{
        width: 40%;
    }
        #add-data{
            display: block;
            width:40%;
            margin: auto auto 5vh auto;
            padding: 4vh 6vh 4vh 4vh;
            background-color: white;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            position: absolute;
            top: 10vh;
            height: max-content;
        }
        .cont-input{
            margin: 4vh 0 4vh 0;
        }
        .cont-input label{
            margin: 1vh 0 1vh 0;
        }
        #add-data label, #add-data input, #add-data button{
            display: block;
        }
        #add-data input, #add-data textarea, #add-data select {
            border: 1px solid lightgrey;
            border-radius: 0.25rem;
            padding: 1% 0 1% 1%;
            width: 100%;
            resize: none;

        }
        #add-data textarea{
            height: 15vh;
        }
        #add-data button{
            border: 1px solid #FF4B2B;
            padding: 1vh 1vh 1vh 1vh;
            background-color: transparent;
            border-radius: 0.25rem;
            font-weight: 700;
            color: #FF4B2B;
            font-size: 1vw;
            transition: 0.5s;
            cursor: pointer
        }
        #add-data button:hover{
            background-color: #FF4B2B;
            color: #FFFFFF;

        }
        .close{
            position: absolute;
            right: 2vw;
        }

    }




