#allequipe {
    .cont-list{
        display: block;
        margin: auto;
        width: 60%;
    }
    h2{
        margin-bottom: 5vh;
    }
    .list-data{
        width: 80%;
    }
    .list-data li{
        display: flex;
        width: 100%;
        margin: auto;
        padding: 1vh 0 1vh 0;
    }
    .list-data p{
        width: 50%;
    }
    .list-data li button{
        background-color: transparent;
        border: 1px solid red;
        padding: 1%;
        font-size: 1vw;
        color: red;
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.25rem;
        width: 12%;
    }
    .list-data li button:hover{
        background-color: red;
        color: #FFFFFF;
    }

    .pagination-btn{
        background-color: #FF4B2B;
        padding: 1% 2% 1% 2%;
        font-size: 0.8vw;
        border: none;
        color: #FFFFFF;
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.25rem;
    }

}
