#allequipe {
    z-index: 2;
    .cont-list{
        display: block;
        margin: auto;
        width: 60%;
    }
    h2{
        margin-bottom: 5vh;
    }
    .list-data p{
        width: 50%;
    }
    .pagination-btn{
        background-color: #FF4B2B;
        padding: 1% 2% 1% 2%;
        font-size: 0.8vw;
        border: none;
        color: #FFFFFF;
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.25rem;
    }

}
