
#content-athlete{
  display: flex;
  height: 100vh;
}
#athlete{
  margin: auto;
  width: 70%;

}
#athlete div p{
  margin: 2vh 0 2vh 0;
}
.athlete-content-img{
  width: 40vw;
  margin-bottom: 5vh ;
}
.athlete-content-img img{
  width: 100%;

}