*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Overpass', sans-serif;
  outline: none;
  text-transform: none;
}
#main{
  width: 100vw;
  margin: 0;
}
#app{
  display: flex;
}
.container{
  margin-top: 3vh;
  width: 100%;
  z-index: 2;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
#messagecomposer textarea {
  width: 96%;
  margin: 10px;
  resize: none;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 6px;
}
.chat-app {
  display: flex;
}
h2, h3, h4, a{
  color :#4F4D4D
}
.btn-delete{
  background-color: transparent;
  border: 1px solid red;
  padding: 1%;
  font-size: 1vw;
  color: red;
  transition: 0.5s;
  cursor:pointer;
  border-radius: 0.25rem;
  height: 5vh;
  margin: auto;
}
.btn-delete:hover{
  background-color: #FF4B2B;
  color: #FFFFFF;
}
.btn-edit{
  background-color: transparent;
  border: 1px solid dodgerblue;
  font-size: 1vw;
  color: dodgerblue;
  transition: 0.5s;
  cursor:pointer;
  border-radius: 0.25rem;
  height: 5vh;
  margin: auto;
}
.btn-edit:hover{
  background-color: dodgerblue;
  color: #FFFFFF;
}