*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Overpass', sans-serif;
  outline: none;
}
#main{
  width: 100vw;
  margin: 0;
}
#app{
  display: flex;
}
.container{
  margin-top: 60px;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}