*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Overpass', sans-serif;
  outline: none;
}
.container{
  width: 85vw;
  margin: auto 0 auto 0
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}