@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  height: 100vh;
  width: 15vw;
  position: static;
  top: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
}

headerdiv {
  width: 100%;
}

.logo {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 5vh;
}

nav ul {
  width: 50%;
  display: block;
  margin: 10vh auto 0 auto;
}

nav ul li {
  padding: 3vh 0 3vh 0;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Overpass", sans-serif;
  outline: none;
}

.container {
  width: 85vw;
  margin: auto 0 auto 0;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

