@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  height: 100vh;
  width: 15vw;
  position: static;
  top: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
}

headerdiv {
  width: 100%;
}

nav ul {
  width: 50%;
  display: block;
  margin: 10vh auto 0 auto;
}

nav ul li {
  padding: 3vh 0 3vh 0;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Overpass", sans-serif;
  outline: none;
}

#main {
  width: 100vw;
  margin: 0;
}

#app {
  display: flex;
}

.container {
  margin-top: 60px;
  width: 100%;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

#allathletes .cont-list,
#allcompetitions .cont-list {
  display: block;
  margin: auto;
  width: 60%;
}

#allathletes a,
#allcompetitions a {
  text-decoration: none;
  color: #3d4852;
  transition: 0.5s;
}

#allathletes a:hover,
#allcompetitions a:hover {
  text-decoration: none;
  color: #FF4B2B;
}

#allathletes h2,
#allcompetitions h2 {
  text-align: center;
}

#allathletes .list-data,
#allcompetitions .list-data {
  width: 80%;
}

#allathletes .list-data li,
#allcompetitions .list-data li {
  display: flex;
  width: 100%;
  padding: 1vh 0 1vh 0;
}

#allathletes .list-data li button,
#allcompetitions .list-data li button {
  background-color: transparent;
  border: 1px solid red;
  padding: 1%;
  font-size: 1vw;
  color: red;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
}

#allathletes .list-data li button:hover,
#allcompetitions .list-data li button:hover {
  background-color: red;
  color: #FFFFFF;
}

#allathletes .pagination-btn,
#allcompetitions .pagination-btn {
  background-color: #FF4B2B;
  padding: 1% 2% 1% 2%;
  font-size: 0.8vw;
  border: none;
  color: #FFFFFF;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
}

#allathletes .pagination,
#allcompetitions .pagination {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}

#allathletes .btn-edit,
#allcompetitions .btn-edit {
  border: 1px solid dodgerblue;
}

#allathletes .cont-list-name,
#allcompetitions .cont-list-name {
  width: 70%;
}

#allathletes .cont-list-btn,
#allcompetitions .cont-list-btn {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#allathletes .cont-list-btn button,
#allcompetitions .cont-list-btn button {
  width: 40%;
}

#allathletes #add-data,
#allcompetitions #add-data {
  display: block;
  width: 40%;
  margin: auto auto 5vh auto;
  padding: 4vh 6vh 4vh 4vh;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 10vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#allathletes .cont-input,
#allcompetitions .cont-input {
  margin: 4vh 0 4vh 0;
}

#allathletes .cont-input label,
#allcompetitions .cont-input label {
  margin: 1vh 0 1vh 0;
}

#allathletes #add-data label,
#allathletes #add-data input,
#allathletes #add-data button,
#allcompetitions #add-data label,
#allcompetitions #add-data input,
#allcompetitions #add-data button {
  display: block;
}

#allathletes #add-data input,
#allathletes #add-data textarea,
#allathletes #add-data select,
#allcompetitions #add-data input,
#allcompetitions #add-data textarea,
#allcompetitions #add-data select {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  padding: 1% 0 1% 1%;
  width: 100%;
  resize: none;
}

#allathletes #add-data textarea,
#allcompetitions #add-data textarea {
  height: 15vh;
}

#allathletes #add-data button,
#allcompetitions #add-data button {
  border: 1px solid #FF4B2B;
  padding: 1vh 1vh 1vh 1vh;
  background-color: transparent;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #FF4B2B;
  font-size: 1vw;
  transition: 0.5s;
  cursor: pointer;
}

#allathletes #add-data button:hover,
#allcompetitions #add-data button:hover {
  background-color: #FF4B2B;
  color: #FFFFFF;
}

#allathletes .close,
#allcompetitions .close {
  position: absolute;
  right: 2vw;
}

#formaddathlete #add-data,
#formaddcompetition #add-data {
  display: block;
  width: 40%;
  margin: auto;
}

#formaddathlete .cont-input,
#formaddcompetition .cont-input {
  margin: 4vh 0 4vh 0;
}

#formaddathlete .cont-input label,
#formaddcompetition .cont-input label {
  margin: 1vh 0 1vh 0;
}

#formaddathlete #add-data label,
#formaddathlete #add-data input,
#formaddathlete #add-data button,
#formaddcompetition #add-data label,
#formaddcompetition #add-data input,
#formaddcompetition #add-data button {
  display: block;
}

#formaddathlete #add-data input,
#formaddathlete #add-data textarea,
#formaddathlete #add-data select,
#formaddcompetition #add-data input,
#formaddcompetition #add-data textarea,
#formaddcompetition #add-data select {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  padding: 1% 3% 1% 3%;
  width: 70%;
  resize: none;
}

#formaddathlete #add-data textarea,
#formaddcompetition #add-data textarea {
  height: 15vh;
}

#formaddathlete #add-data button,
#formaddcompetition #add-data button {
  border: 1px solid #FF4B2B;
  padding: 1vh 1vh 1vh 1vh;
  background-color: transparent;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #FF4B2B;
  font-size: 1vw;
  transition: 0.5s;
  cursor: pointer;
}

#formaddathlete #add-data button:hover,
#formaddcompetition #add-data button:hover {
  background-color: #FF4B2B;
  color: #FFFFFF;
}

#home h1 {
  text-align: center;
}

#navbar .link-navbar {
  height: 0;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
  color: #4F4D4D;
}

#navbar .logo {
  width: 80%;
  display: block;
  margin: 2vh auto 0 auto;
}

#navbar .link-navbar:hover {
  color: #000;
  opacity: 1;
}

#navbar .cont-link-navbar {
  padding: 2vh 0 2vh 0;
  margin-left: 1vw;
  width: 100%;
}

#navbar nav ul li:hover .link-navbar {
  height: auto;
  opacity: 0.9;
  transition: 0.5s;
}

#navbar nav ul li p {
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

#navbar nav ul li:hover p {
  color: #FF4B2B;
}

#navbar nav ul li {
  height: 0;
  transition: 0.5s;
  margin-bottom: 5vh;
}

#navbar nav ul li:hover {
  height: 30vh;
}

#content-athlete {
  display: flex;
  height: 100vh;
}

#athlete {
  display: flex;
  margin: auto;
}

.athlete-content-img {
  width: 20vw;
}

.athlete-content-img img {
  width: 100%;
}

#allequipe .cont-list {
  display: block;
  margin: auto;
  width: 60%;
}

#allequipe h2 {
  margin-bottom: 5vh;
}

#allequipe .list-data {
  width: 80%;
}

#allequipe .list-data li {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1vh 0 1vh 0;
}

#allequipe .list-data p {
  width: 50%;
}

#allequipe .list-data li button {
  background-color: transparent;
  border: 1px solid red;
  padding: 1%;
  font-size: 1vw;
  color: red;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 12%;
}

#allequipe .list-data li button:hover {
  background-color: red;
  color: #FFFFFF;
}

#allequipe .pagination-btn {
  background-color: #FF4B2B;
  padding: 1% 2% 1% 2%;
  font-size: 0.8vw;
  border: none;
  color: #FFFFFF;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
}

#footerbar {
  position: fixed;
  bottom: 0;
  background-color: #FF4B2B;
  width: 100%;
  color: white;
  text-align: center;
}

/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

