<div id="navbar">
        <header>
            <div>
                <router-link to="/"><img  class="logo" src="img/logo.svg"></router-link>
            </div>
            <nav>
                <ul>
                    <li><p class="hover-nav">Search</p>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/search">Search Bar</router-link>
                        </div>
                    </li>
                    <li><p class="hover-nav">Athletes</p>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/all-athletes">Athletes list</router-link>
                        </div>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/add-athlete">Add an athlete</router-link>
                        </div>
                    </li>
                    <li>
                        <p class="hover-nav">Teams</p>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/all-equipes">Teams list</router-link>
                        </div>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/add-equipe">Add a team</router-link>
                        </div>
                    </li>
                    <li>
                        <p class="hover-nav">Competitions</p>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/all-competitions">Competitions list</router-link>
                        </div>
                        <div class="cont-link-navbar">
                            <router-link class="link-navbar" to="/add-competition">Add a competition</router-link>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
</div>