<div id="allequipes">
    <div class="cont-list">
        <h2>Toutes les equipes</h2>
        <ul class="list-data" v-for="equipes in allequipes" :key="equipes.id">
            <li><p>{{ equipes.name}} </p><button @click="deleteEquipe(equipes.id)">Delete</button></li>
        </ul>
        <div class="pagination">
            <button class="pagination-btn" v-on:click="fetchPaginationEquipe(pagination.prev_page_url)">Précédent</button>
            <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
            <button class="pagination-btn" v-on:click="fetchPaginationEquipe(pagination.next_page_url)">Suivant</button>
        </div>
    </div>
</div>