<div id="formaddathlete">
    <form id="add-data" @submit.prevent="addEquipe">
        <h2>Add team</h2>
        <div class="cont-input">
            <label>Name</label>
            <input type="text" name="name" v-model="name" id="input-name"/>
        </div>
        <div class="cont-input">
            <label>nationality</label>
            <select  name="equipe_id" v-model="nationalite_id">
                <option v-for="nationalites in allnationalites" :key="nationalites.id" :value="nationalites.id">{{ nationalites.name }}</option>
            </select>
        </div>
        <div class="cont-input">
            <label>Description</label>
            <textarea name="description" v-model="description" id="input-description"></textarea>
        </div>

        <button class="pagination-btn" type="submit">Save</button>
    </form>
</div>