<div id="allathletes">
    <div class="cont-list">
        <h2>Tous les athletes</h2>
        <ul class="list-data" v-for="athletes in allathletes" :key="athletes.id">
            <li><p><router-link :to="`/athlete/${athletes.id}`">{{ athletes.name}}</router-link> </p><button @click="deleteAthlete(athletes.id)">Delete</button></li>
        </ul>
        <div class="pagination">
            <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.prev_page_url)">Précédent</button>
            <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
            <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.next_page_url)">Suivant</button>
        </div>
    </div>
</div>