<div id="allathletes">
        <div class="cont-list">
            <h2>Tous les athletes</h2>
            <ul class="list-data" v-for="athletes in allathletes" :key="athletes.id">
                <li><p><router-link :to="`/athlete/${athletes.id}`">{{ athletes.name}}</router-link> </p><button class="btn-edit">Edit</button><button @click="deleteAthlete(athletes.id)">Delete</button></li>
                <form @submit.prevent="UpdateAthlete(athletes.id)">
                    <div class="cont-input">
                        <label>Nom</label>
                        <input type="text" name="name" :placeholder="athletes.name"/>
                    </div>
                    <div class="cont-input">
                        <label>Equipe</label>
                        <select   name="equipe_id">
                            <option v-for="equipe in allequipes" :key="equipe.id" :value="equipe.id">{{ equipe.name }}</option>
                        </select>
                    </div>
                    <div class="cont-input">
                        <label>Description</label>
                        <textarea name="description" :placeholder="athletes.descrption"></textarea>
                    </div>

                    <button class="pagination-btn" type="submit">Enregistrer</button>
                </form>

            </ul>
            <div class="pagination">
                <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.prev_page_url)">Précédent</button>
                <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
                <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.next_page_url)">Suivant</button>
            </div>
        </div>
</div>