<div id="allathletes">
        <div class="cont-list">
            <h2>Tous les athletes</h2>
            <ul class="list-data" v-for="athletes in allathletes" :key="athletes.id">
                <li>
                    <p class="cont-list-name">
                        <router-link :to="`/athlete/${athletes.id}`">{{ athletes.name}}</router-link>
                    </p>
                    <div class="cont-list-btn">
                        <button class="btn-edit" @click="switchEdit(athletes.id)">Edit</button>
                        <button @click="deleteAthlete(athletes.id)">Delete</button>
                    </div>
                </li>

            </ul>
            <form v-if="edit" @submit.prevent="UpdateAthlete">
                <div class="cont-input">
                    <label>Nom</label>
                    <input type="text" name="name" v-model="name"/>
                </div>
                <div class="cont-input">
                    <label>Equipe</label>
                    <select  name="equipe_id" v-model="equipe_id">
                        <option v-for="equipe in allequipes" :key="equipe.id" :value="equipe.id">{{ equipe.name }}</option>
                    </select>
                </div>
                <div class="cont-input">
                    <label>Description</label>
                    <textarea name="description" v-model="description"></textarea>
                </div>

                <button class="pagination-btn" type="submit">Enregistrer</button>
            </form>
            <div class="pagination">
                <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.prev_page_url)">Précédent</button>
                <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
                <button class="pagination-btn" v-on:click="fetchPaginationAthletes(pagination.next_page_url)">Suivant</button>
            </div>
        </div>
</div>