<div id="formaddcompetition">
    <form id="add-data" method="POST" action="add/athlete" @submit.prevent="addCompetition()">
        <h2>Add competition</h2>
        <div class="cont-input">
            <label>Name</label>
            <input type="text" name="name" v-model="name"/>
        </div>
        <div class="cont-input">
            <label>Add image</label>
            <input type="file" @change="imageChanged"/>
        </div>
        <div class="cont-input">
            <label>Description</label>
            <textarea name="description" v-model="description"></textarea>
        </div>

        <button class="pagination-btn" type="submit">Save</button>
    </form>
</div>