<div id="allcompetitions">
    <div class="cont-list">
        <form v-if="edit" id="add-data" @submit.prevent="UpdateCompetition">
            <button class="close" @click="switchfalseEdit">X</button>
            <h2>Modifier un Competition</h2>
            <div class="cont-input">
                <label>Nom</label>
                <input type="text" name="name" v-model="name"/>
            </div>
            <div class="cont-input">
                <label>Description</label>
                <textarea name="description" v-model="description"></textarea>
            </div>

            <button class="pagination-btn" type="submit">Enregistrer</button>
        </form>
        <h2>Toutes les competitions</h2>
        <ul class="list-data" v-for="competitions in allcompetitions" :key="competitions.id">
            <li>
                <p class="cont-list-name">
                    <router-link :to="`/competition/${competitions.id}`">{{ competitions.name}}</router-link>
                </p>
                <div class="cont-list-btn">
                    <button class="btn-edit" @click="switchEdit(competitions.id)">Edit</button>
                    <button class="btn-delete" @click="deleteCompetition(competitions.id)">Delete</button>
                </div>
            </li>

        </ul>
        <div class="pagination">
            <button class="pagination-btn" v-on:click="fetchPaginationCompetitions(pagination.prev_page_url)">Précédent</button>
            <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
            <button class="pagination-btn" v-on:click="fetchPaginationCompetitions(pagination.next_page_url)">Suivant</button>
        </div>
    </div>
</div>